.App{
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    gap: 200px;
}
.content{
    font-family: cursive;
    font-weight: 800;
    font-size: 30px;
}
span{
    color: rgba(45, 47, 90, 0.703);
}
.pic{
    border-radius: 300px;
}